.comment{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1)
}

.comment__name{
    width: 100%;
    font-weight: 600;
    color: var(--bg-accent);
}

.comment__content{
    width: 100%;
    margin-top: 5px;
    padding-left: 20px;
}