<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Article</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/navbarSuccess.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/user/style.css">
        <link rel="stylesheet" href="/css/user/profile.css">
    </head>
    <body onload="tokenPresence()">
        <div class="wrapper">
            <%- include('../partials/navbarSuccess') %>
            <div class="container">
                <h1>New <%- subject.title %> Article</h1>
                <form class="content" action="/articles/<%- dept.slug %>/<%- subject.slug %>/newArticle" method="POST">
                    <div class="form-group">
                        <input required placeholder="Enter the Title" type="text" name="articleTitle" id="articleTitle" class="form-control">
                        <div class="back"></div>
                        <!-- <label for="password">New Password</label> -->
                    </div>
                    <div class="form-group">
                        <input required placeholder="Enter the Markdown" type="text" name="articleMarkdown" id="articleMarkdown" class="form-control">
                        <div class="back"></div>
                        <!-- <label for="password">New Password</label> -->
                    </div>
                    <input type="text" id="articleUserName" name="articleUserName" style="display: none;">
                    <input class="btn" type="submit" style="margin-top: 10px;">
                </form>
            </div>
        </div>
        <!-- <script src="/js/article/Dept.js"></script> -->
        <script src="/js/article/newArticle.js"></script>
        <script src="/js/navbarSuccess.js"></script>
    </body>
</html>