@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --primary-color: yellow;
    --background-color: #eaeaea;
}

*, *::before, *::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--background-color);
}

.wrapper{
    margin-top: 63px;
    width: 100%;
    min-height: calc(100vh - 63px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}