nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
    padding: 10px;
    z-index: 2;
}

.navLeft{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px;
}

.navRight{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.displayFlex{
    display: flex!important;
}

@media (max-width: 500px){
    .navRight .ham{
        cursor: pointer;
        outline: none;
    }
    .navContent{
        position: absolute;
        top: 63px;
        left: 0px;
        width: 100%;
        height: auto;
        background-color: black;
        display: none;
        flex-direction: column;
        padding: 10px;
    }
    .navContent .navItem{
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding: 5px;
        margin-bottom: 5px;
    }
    .navContent .dropdown{
        width: 100%;
        height: auto;
        padding-left: 30px;
        display: none;
        flex-direction: column;
    }
    .navContent .dropdown .dropdownData{
        width: 100%;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
    }

}

@media (min-width: 501px){
    .ham{
        display: none;
    }
    .navContent{
        display: flex;
        flex-direction: row;
    }
    .navContent .navItem{
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        position: relative;
    }
    .navContent .dropdown{
        position: absolute;
        right: 15px;
        top: 78px;
        width: 200px;
        height: auto;
        background-color: black;
        padding: 10px;
        display: none;
        flex-direction: column;
    }
    .navContent .dropdown::after{
        content: '';
        position: absolute;
        top: -15px;
        right: 0px;
        width: 0px;
        height: 0px;
        border-bottom: 15px solid black;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    .navContent .dropdown .dropdownData{
        width: 100%;
        text-decoration: none;
        color: white;
        padding: 7px;
    }
    .navContent .dropdown .dropdownData:hover{
        background-color: #777;
    }
}