.dept{
    width: 100%;
    max-width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-sc);
    margin: 10px;
}

.dept__name{
    width: 100%;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.dept__link{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: var(--secondary-color);
    margin-top: 2px solid white;
}

.dept:hover .dept__link{
    text-decoration: underline;
}