.userDataCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userDataCont .textData{
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userDataCont .userImage{
    width: 30%;
    position: relative;
}

.textData .infoCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.infoCont > *{
    width: 50%;
}
.userImage img{
    width: 100%;
    height: auto;
}

@media (max-width: 700px){
    .userDataCont{
        flex-direction: column;
    }
    .userDataCont .textData,
    .userDataCont .userImage{
        width: 100%;
        margin-bottom: 10px;
    }
}

h2{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}