<nav>
    <div class="navLeft">IIT Kanpur</div>
    <div class="navRight">
        <div class="hamContent">
            <a href="/" class="navField">Home</a>
            <a href="/user/register" class="navField">Register</a>
            <a href="/user/login" class="navField">Login</a>
        </div>
    </div>
</nav>