<nav>
    <div class="navLeft">IIT Kanpur</div>
    <div class="navRight">
        <div class="ham" onclick="displayContent()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navContent">
            <a href="/articles" class="navItem">
                Articles
            </a>
            <div class="navItem" onclick="activateDropdown()">Adit</div>
            <div class="dropdown">
                <a class="dropdownData" href="/user/profile">
                    <i class="fas fa-user"></i>&nbsp;&nbsp;Profile
                </a>
                <a class="dropdownData" href="/user/changePassword">
                    <i class="fas fa-cog"></i>&nbsp;&nbsp;Change Password
                </a>
                <a class="dropdownData" href="/" onclick="logoutFunction()">
                    <i class="fas fa-sign-out-alt" style="transform: rotateZ(180deg);"></i>&nbsp;&nbsp;Logout
                </a>
            </div>
        </div>
    </div>
</nav>