.articleContent{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}
.card .btnDept{
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    padding: 20px;
    width: 100%;
    /* max-width: 200px; */
    border: 2px solid black;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.card .btnDept:hover{
    background: var(--primary-color);
}

.commentCard{
    width: calc(100% - 4px);
    border: 1px solid var(--background-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.commentCard:last-child{
    margin-bottom: 0px;
}
.commentCard *{
    width: 100%;
    padding-left: 20px;
}
.commentCard .commentUsername{
    font-weight: 600;
    color: #777;
    margin-bottom: 5px;
}