.articleName{
    width: 100%;
    padding: 10px;
    padding-right: 10%;
    background-color: var(--light-sc);
    color: white;
    font-weight: 500;
    text-align: right;
}

.lnd{
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.likeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
}

.deleteEditContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}