.msg{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.msg__top{
    padding: 10px;
    border-radius: 20px ;
    background-color: var(--color-1);
    color: white;
    width: fit-content;
    max-width: 500px;
    word-wrap: break-word;
}

.msg__bottom{
    font-size: 12px;
    margin-top: 3px;
}

.msg.own{
    align-items: flex-end;
}
.msg.own .msg__top{
    background-color: lightgray;
    color: black;
}

@media (max-width: 500px){
    .msg__top{
        max-width: 300px;
    }
}