.subject{
    width: 100%;
    max-width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.06);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.subject__name{
    width: 100%;
    padding: 20px;
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.subject__link{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: var(--secondary-color);
}

.subject:hover .subject__link{
    text-decoration: underline;
}