.navbar{
    width: 100%;
    height: 50px;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 10px;
    z-index: 9;
}

.navbar__left{
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar__right{
    position: relative;
    display: flex;
    height: 100%;
}
.navbar__right__show{
    transform: translateX(0) !important;
}

.navbar__ham{
    display: none;
}

.nav__link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.nav__link::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 3px;
    background-color: var(--color-1);
    z-index: 10;
    transition: all 0.5s ease;
}
.nav__link:hover{
    background: rgb(65, 65, 65)
}
.nav__link:hover::after{
    width: 100%;
}

.dropdown__link:hover .dropdown{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 150px;
    cursor: default;
}
.dropdown__content{
    background-color: black;
    padding: 5px;
}
.dropdown__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}
.dropdown__item:hover{
    background-color: rgb(65, 65, 65);
}

@media (max-width: 600px){
    .navbar__ham{
        display: block;
    }
    
    .navbar__right{
        background-color: black;
        position: absolute;
        top: 50px;
        right: 0;
        height: calc(100vh - 52px);
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s ease;
        margin-top: 2px;
        width: 150px;
    }
    .navbar__right::before{
        content: '';
        position: absolute;
        top: -2px;
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: var(--color-1);
    }
    
    .nav__link{
        justify-content: flex-start;
        padding: 10px;
        padding-left: 15px;
        margin: 0;
    }

    .navbar__avatar{
        margin-right: 8px;
        width: 25px !important;
        height: 25px !important;
    }

    .dropdown{
        padding-left: 20px;
    }
}

@media (min-width: 600px){
    .navbar__avatar{
        margin-right: 8px;
        width: 30px !important;
        height: 30px !important;
    }

    .dropdown__filler{
        width: 100%;
        height: 10px;
        background-color: transparent;
    }

    .dropdown::before{
        content: '';
        position: absolute;
        right: 0px;
        top: -10px;
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
        z-index: 100;
    }
}