.navbar{
    width: 100%;
    background-color: var(--bg-color);
    /* padding: 10px; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.nav__logo{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

.nav__data{
    display: flex;
    margin-right: 10px;
}

.nav__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 60px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative
}
.nav__link:hover{
    background: rgb(65, 65, 65)
}

.ham{
    height: 100%;
    width: 30px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.rightNav{
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 48px;
    right: -200px;
    width: 200px;
    height: calc(100vh - 48px);
    background: var(--bg-color);
    margin-right: 0px !important;
    align-items: flex-start;
    animation: revealNav 0.5s ease-in-out forwards;
}
.rightNav > .nav__link{
    height: 50px !important;
    /* padding-left: 20px; */
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
.rightNav > *::after{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: white;
}

.dropdown{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* position: absolute; */
    width: auto;
    height: auto;
    background-color: var(--bg-color);
}

.dropdown__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.dropdown__item:hover{
    background: rgb(65,65,65);
}

@media (max-width: 500px){
    .nav__data{
        display: none;
    }
    .ham{
        display: flex;
    }
    .dropdown{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
}

@media (min-width: 501px){
    .dropdown{
        position: absolute;
        top: 53px;
        right: 5px;
        border-radius: 4px;
    }
}

@keyframes revealNav {
    0%{
        right: -200px;
    }
    100%{
        right: 0px;
    }
}